.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #FCF5C7; /* Background color */
}


.description h1 {
  font-family:Georgia, 'Times New Roman', Times, serif; 
  font-size: 4.5rem; /* Adjust size as needed */
  margin: 1;
  color:#352f36; /* Text color */
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  font-size: 1.5rem; /* Increase font size */
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  font-size: 4rem; /* Large font size for BOODO */
  margin: 0;
  font-family: 'Arial', sans-serif; /* Font family */
  color: #352f36; /* Text color */
}

.logo p {
  font-size: 1.5rem; /* Subtitle size */
  font-family: 'Arial', sans-serif; /* Font family */
  margin-top: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  background-color: #352f36; /* Button background color */
  color: white; /* Button text color */
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: darkgray; /* Hover effect */
}
